<div class="x4z-72fw-custom-header">
    <h1>Página de Información secreta</h1>
</div>

<div class="q2hT91_custom-container">
    <h2 class="aPp3r0i_custom-title">Usuarios</h2>
    <p class="z7R-5x1 custom-paragraph">datos super secretos clasificados sobre los perfiles registrados de la pagina</p>
</div>